

h1, h3, body {
    
    font-family: cursive;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    width: 100%;

}
body{
	background: linear-gradient(to right, rgb(249,64,36), rgb(9,162,216));
}
h3{
	margin-top: 1px;
	margin-bottom: 1px;
}
h2{
	margin-bottom: 1px;
}

#changecolor{
	border-radius: 20px;
	border-color: blue;
	border-width: 1px;
	margin-top: 2px;
	background-color: transparent;
    margin-bottom: 20px;
}
#changecolor:hover{
	background-color: rgba(0,0,255,0.5);
    cursor: pointer;
}
h1:hover,h2:hover,h3:hover{
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

.color1, .color2{
	border-radius: 20px;
	padding:0px;
	background-color: transparent;
    cursor: pointer;
}
footer{
	position: fixed;
    left: 0px;
    bottom: 0px;
    height: 25px;
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
	box-shadow: 4px 6px 23px -2px rgba(17,128,109,0.91);
    opacity: .5;
}

#trackpart {
    
    background-color: transparent;
    padding: 50px;
    width: 5%;
    border-width: 3px;
    border-color: black;
    border-style: double;
    margin:auto;
    

}
#trackpart:hover{
    background-color: #444;
    opacity:0.2;
    cursor:grab;
}





